POSTGRES_USER=wmp
POSTGRES_PASSWORD=wmp

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_USER=admin123

MAIL_USERNAME=username@mail.ru
MAIL_PASSWORD=password

