POSTGRES_USER=wmp
POSTGRES_PASSWORD=wmp

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=mail-attachments
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123

NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=admin123

NEXTCLOUD_DB_NAME=nextcloud_db
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=nextcloud

MAIL_USERNAME=username@mail.ru
MAIL_PASSWORD=password
